* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	outline: none;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-rows: 5rem auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'header header'
		'sidebar map';
	position: relative;
}

#map {
	grid-area: map;
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}
